html,
body {
  min-height: 100%;
  font-family: var(--font-prompt), 'Prompt', sans-serif;
}

#__next {
  height: 100%;
}

code {
  font-family: var(--font-prompt), 'Prompt', monospace;
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.swal2-container {
  z-index: 20000 !important;
}

.swal2-confirm,
.swal2-styled,
.swal2-default-outline {
  font-family: var(--font-prompt), 'Prompt', sans-serif;
}
