# ─── App ──────────────────────────────────────────────────────────────────────
NODE_ENV=production
PORT=3001
HOST=
HOST_URL=https://api.nktc-stu.com/api

# ─── Auth ──────────────────────────────────────────────────────────────────────
JWT_SECRET=
JWT_REFRESH_EXPIRES_IN=6000s

# ─── Database ──────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://adminpostgres:PASSWORD@nktc-postgres:5432/edu?schema=public&connection_limit=20&pool_timeout=0
POSTGRES_DB=edu
POSTGRES_USER=adminpostgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# ─── MinIO ────────────────────────────────────────────────────────────────────
MINIO_ENDPOINT=nktc-minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=nktc-app
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ─── CORS ─────────────────────────────────────────────────────────────────────
CORS_ALLOWED_DOMAINS=nktc-stu.com
CORS_DEV_ORIGINS=
CORS_MAX_AGE=86400
CORS_PRODUCTION_METHODS=GET,POST,PUT,PATCH,DELETE

# ─── App Settings ─────────────────────────────────────────────────────────────
EDUCATION_YEARS=2566
USER_ADMIN=Admin01
