# ─── App ──────────────────────────────────────────────────────────────────────
NODE_ENV=production
PORT=3001
HOST=
HOST_URL=https://api.nktc-stu.com/api

# ─── Auth ──────────────────────────────────────────────────────────────────────
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=6000s

# ─── Database ──────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://adminpostgres:PASSWORD@db.example.com:5432/edu?schema=public&connection_limit=20&pool_timeout=0

# ─── MinIO ────────────────────────────────────────────────────────────────────
MINIO_ENDPOINT=minio.example.com
MINIO_PORT=9000
MINIO_USE_SSL=true
MINIO_BUCKET_NAME=nktc-app
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ─── CORS ─────────────────────────────────────────────────────────────────────
CORS_ALLOWED_DOMAINS=nktc-stu.com
CORS_DEV_ORIGINS=
CORS_MAX_AGE=86400
CORS_PRODUCTION_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS

# ─── App Settings ─────────────────────────────────────────────────────────────
EDUCATION_YEARS=2566
USER_ADMIN=Admin01
